<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Restaurant</title>
</head>
<body>
    <h1>Tell us about a new restaurant</h1>
    <a href="/">Back to Home</a>
    <form action="/" method="POST">
        Name: <input type="text" name="name" /><br>
        Location: <input type="text" name="location" /><br>
        Would you recommend this restaurant?: <input type="checkbox" name="reccomend" /><br>
        <input type="submit" value="New Restaurant" />
    </form>
</body>
</html>