<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <nav>
      <h1>Welcome the Dishes</h1>
      <ul>
        <li>
          <a href="/restaurants">restaurants</a>
        </li>
        <li>
          <a href="/dishes">dishes</a>
        </li>
        <li>
          <a href="/dishes/new">Add a Dish</a>
        </li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Dish</h2>
        <a href="/dishes/<%= dish._id %>/edit">Edit</a>
        <ul>
          <li>Name of Dish: <%= dish.name %></li>
          <li>Description: <%= dish.description %></li>
        </ul>
      </section>
      <form action="/dishes/<%= dish._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </main>
  </body>
</html>